
<div class="container-fluid">

    <header class="row site-header" ng-controller="mainCtrl">
        <nav class="col-md-10 col-md-offset-1">
            <div class="row">
                <ul class="list-inline top-menu">
                    <li>
                        <a href="#!/home">Home</a>
                    </li>
                    <li>
                        <a href="#!/csstemplates">Css templates</a>
                    </li>
                    <li>
                        <a href="#!/bin">Bin</a>
                    </li>
                    <li>
                        <a href="#!/contact">Contact</a>
                    </li>
                    <li ng-show="loggedIn">
                        <a href="" ng-click="logout()">{{username}} | Sign Out</a>
                    </li>
                    <li ng-hide="loggedIn">
                        <a href="#!/signin">Sign In</a>
                    </li>
                    <li ng-hide="loggedIn">
                        <a href="#!/register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="site-body row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div ng-view> </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
 
                    <h3>
                        Ad's
                    </h3>

                    <div class="ad">

                        <ul class="links">
                            <li class="first" style="margin-left: -12px;">
                                <div style="width: 184px;   overflow: hidden; text-align: center;">
                                    <iframe style="margin: -1px; border: none; overflow: hidden; width: 205px; height: 375px;" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FCsstemplatesForFreecom%2F158781357475549&amp;width=164&amp;colorscheme=light&amp;connections=12&amp;stream=false&amp;header=false&amp;height=415" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                                </div>
                            </li>
                            <li style="list-style: square"><a href="#!/ads" title="buy ads">Put your Ad here</a> </li>
                        </ul>

                    </div>
                    <h4>
                        Promote us
                    </h4>
                    <a href="http://www.stumbleupon.com/submit?url=http://CssTemplatesForFree">
                        <img border="0" src="http://www.stumbleupon.com/images/160x30_su_black.gif" alt="Stumble free css templates">
                    </a>
                    <br>
                    <!-- AddThis Button BEGIN -->
                    <script type="text/javascript">            addthis_pub = 'victorantos';</script>
                    <a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()">
                        <img src="http://s9.addthis.com/button1-share.gif" width="125" height="16" border="0" alt="">
                    </a>
                    <script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh547" title="AddThis utility frame" src="//ct1.addthis.com/static/r07/sh173.html#iit=1411761536710&amp;tmr=load%3D1411761535891%26core%3D1411761536077%26main%3D1411761536698%26ifr%3D1411761536716&amp;cb=0&amp;cdn=1&amp;chr=UTF-8&amp;kw=Download%2CFree%2CCSS%2CTemplates%2Cweb%20templates%20free%2Ccool%20free%20css%20styles%20for%20download%2Cweb%202.0%20templates%2Ccss%20tutorials%2Cfree%20site%20templates%2Cfree%20website%20template%2Ccss%20web%20templates%2Cfree%20template&amp;ab=-&amp;dh=www.CssTemplatesForFree&amp;dr=&amp;du=http%3A%2F%2Fwww.CssTemplatesForFree%2F&amp;dt=Download%20Our%20CSS%20Templates%20For%20Free%20-%20Free%20CSS%20Templates%20for%20your%20website%20design&amp;dbg=0&amp;md=0&amp;cap=tc%3D0%26ab%3D0&amp;inst=1&amp;vcl=1&amp;jsl=32&amp;prod=undefined&amp;lng=ro&amp;ogt=&amp;pc=men&amp;pub=victorantos&amp;ssl=0&amp;sid=5425c580228bcc95&amp;srpl=1&amp;srcs=1&amp;srd=1&amp;srf=1&amp;srx=1&amp;ver=300&amp;xck=0&amp;xtr=0&amp;og=&amp;aa=0&amp;csi=undefined&amp;rev=5.3&amp;ct=1&amp;xld=1&amp;xd=1" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;"></iframe></div>
                    <script type="text/javascript" src="http://ct1.addthis.com/static/r07/core156.js"></script>
                    <!-- AddThis Button END -->


                    <h4>
                        Recommended Sites
                    </h4>
                    <ul class="links">
                        <li class="first" style="list-style-type:circle;">
                            <a href="http://peterkellner.net/2006/08/28/msprofcsshowto/">
                                Easily
                                customize the CSS Design Templates for your ASP.NET 2.0 site
                            </a>
                        </li>
                        <li style="list-style-type:circle;">
                            <a href="http://www.asp.net/learn/videos/video-188.aspx">
                                Video on How Do I: Use
                                Cascading Style Sheets for Web Page Layout(asp.net)?
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row site-footer">
        <div class="col-md-10 col-md-offset-1">
            <footer>
                <div class="text-center">
                    © 2007-2014 CssTemplatesForFree.
                </div>
            </footer>
        </div>
    </div>



</div>
