
    <h3>Advertise on our website</h3>
    <p>
        Please contact us by email: <a href="mailto:contact@csstemplatesforfree.com">contact@csstemplatesforfree.com</a>
        <br>
        The price for a text link is £50/month. There is a discount offered for 3 and 6 months contract periods.

    </p>

