<h3>9 random css templates for free .com</h3>
<p>
    Below are 9 <a href="default.aspx">random</a> CSS templates that you can <strong>
        download
        for free
    </strong>. Use them <strong>to design your website</strong>. You can
    also <a href="csstemplates.aspx">browse all CSS templates</a> .
</p>
 
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 home-template" ng-repeat="line in primeTemplates">
        <div class="img-thumbnail">
            <a href="previewcsstemplate.aspx?csstemplateName=edgy" title="edgy - css template">
                <img ng-src='{{line.imageFile}}' class="img-responsive" alt="Preview of &quot;edgy&quot; CSS Template">
            </a>
            <br /><span class="template-title text-center">Template name: <strong>{{line.name}}</strong></span><br />
            <span><a href="previewcsstemplate.aspx?csstemplateName=edgy" id="previewCssTemplate" title="Live preview of &quot;edgy&quot; css template">Css template</a> | <a href="zipHandler.ashx?csstemplateName=edgy" id="downloadCssTemplateLink" title="Download &quot;edgy&quot; css template for free">Download</a></span>
        </div>
    </div>
</div>
@*<br />
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="img-thumbnail">
            <a href="previewcsstemplate.aspx?csstemplateName=edgy" title="edgy - css template">
                <img src='@Url.Content("~/Assets/images/thumbnailHandler1.jpg")'class="img-responsive"  alt="Preview of &quot;edgy&quot; CSS Template">
            </a>
            <br/><span class="template-title text-center">Template edgy</span><br />
            <span><a href="previewcsstemplate.aspx?csstemplateName=edgy" id="previewCssTemplate" title="Live preview of &quot;edgy&quot; css template">Css template</a> | <a href="zipHandler.ashx?csstemplateName=edgy" id="downloadCssTemplateLink" title="Download &quot;edgy&quot; css template for free">Download</a></span>
            <br>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="img-thumbnail">
            <a href="previewcsstemplate.aspx?csstemplateName=edgy" title="edgy - css template">
                <img src='@Url.Content("~/Assets/images/thumbnailHandler1.jpg")'class="img-responsive"  alt="Preview of &quot;edgy&quot; CSS Template">
            </a>
            <br/><span class="template-title text-center">Template edgy</span><br />
            <span><a href="previewcsstemplate.aspx?csstemplateName=edgy" id="previewCssTemplate" title="Live preview of &quot;edgy&quot; css template">Css template</a> | <a href="zipHandler.ashx?csstemplateName=edgy" id="downloadCssTemplateLink" title="Download &quot;edgy&quot; css template for free">Download</a></span>
            <br>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="img-thumbnail">
            <a href="previewcsstemplate.aspx?csstemplateName=edgy" title="edgy - css template">
                <img src='@Url.Content("~/Assets/images/thumbnailHandler1.jpg")'class="img-responsive"  alt="Preview of &quot;edgy&quot; CSS Template">
            </a>
            <br/><span class="template-title text-center">Template edgy</span><br />
            <span><a href="previewcsstemplate.aspx?csstemplateName=edgy" id="previewCssTemplate" title="Live preview of &quot;edgy&quot; css template">Css template</a> | <a href="zipHandler.ashx?csstemplateName=edgy" id="downloadCssTemplateLink" title="Download &quot;edgy&quot; css template for free">Download</a></span>
            <br>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="img-thumbnail">
            <a href="previewcsstemplate.aspx?csstemplateName=edgy" title="edgy - css template">
                <img src='@Url.Content("~/Assets/images/thumbnailHandler1.jpg")'class="img-responsive"  alt="Preview of &quot;edgy&quot; CSS Template">
            </a>
            <br/><span class="template-title text-center">Template edgy</span><br />
            <span><a href="previewcsstemplate.aspx?csstemplateName=edgy" id="previewCssTemplate" title="Live preview of &quot;edgy&quot; css template">Css template</a> | <a href="zipHandler.ashx?csstemplateName=edgy" id="downloadCssTemplateLink" title="Download &quot;edgy&quot; css template for free">Download</a></span>
            <br>
        </div>
    </div>
</div>*@

<h3>
    about us
</h3>
<p>
    Here you'll find a lot of <b>free CSS templates</b> that you can download in zip
    file format, all of which are:
</p>
<ul>
    <li>
        Released for FREE under the <a href="license.aspx">
            Creative Commons Attribution
            2.5 license
        </a>
    </li>
    <li>Very lightweight in terms of images </li>
    <li>Tables-free (ie. they use no tables for layout purposes)</li>
    <li>W3C standards compliant and valid (XHTML Strict) </li>
    <li>Provided with public domain photos, generously provided by <a href="http://www.pdphoto.org/">PDPhoto.org</a> and <a href="http://commons.wikimedia.org/">Wikimedia</a> Commons</li>
</ul>
<p>
    All of this templates are free for any type of personal or commercial use (provided
    you follow the license).<br>


    cheap website hosting , as well as any other expenses that might come up as we develop
    and promote css templates we all love.
</p>
