
<h3>
    License
</h3>
<p>
    All of the free CSS templates provided on this website are licensed under a
    <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>, so they are free to use for both commercial and noncommercial purposes provided you link back to CssTemplatesForFree. For more information about this license, please click on the button below.
</p><br>
<br>
<a href="http://creativecommons.org/licenses/by/2.5/"><img alt="Creative Commons License" src='@Url.Content("~/Assets/images/somerights20.png")'></a>
<br>
    Some of css templates are taken from different websites under Creative Commons Attribution 2.5 License.<br> One of them is <a href="http://freecsstemplates.org" target="_blank">http://freecsstemplates.org</a>.

